<nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white transparency border-bottom border-light navbar-bg" id="transmenu">
    <div class="container"><a class="navbar-brand text-success" href="https://www.spixi.io"><img src="assets/img/SpixiLogoW.png" alt="Spixi Logo"></a><button data-toggle="collapse" class="navbar-toggler collapsed" data-target="#navcol-1"><i class="fa fa-menu"></i></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav ml-auto">
                {% for item in site.data.navigation %}
                    <li class="nav-item {% if page.url == item.link %}selected{% endif %}" role="presentation"><a class="nav-link" href="{{ item.link }}">{{ item.name }}</a></li>
                {% endfor %}
            </ul>
            <a href="https://www.ixian.io"><button class="btn btn-primary text-left radial-fill" type="button" style="padding-top: 8px;margin-top: 0;font-family: Roboto, sans-serif;box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.2), 0 12px 20px 0 rgba(0, 0, 0, 0.19);opacity: 1;background-color: rgba(255,255,255,0.03);padding-left: 25px;padding-right: 30px;font-size: 17px;padding-bottom: 10px;font-weight: bold;border-color: white;border-radius: 40px;border: 2px solid #e3408e;margin-left: 0;"><img src="assets/img/PoweredByIxianW.png" alt="Powered by Ixian"></button></a>
        </div>
    </div>
</nav>
