#transmenu {
  -moz-transition: background 0.6s ease;
  -webkit-transition: background 0.6s ease;
  transition: background 0.6s ease;
}

#transmenu.transparency {
  background: transparent !important;
  box-shadow: none;
  border-color: transparent !important;
}

#transmenu .navbar-brand {
  -moz-transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

#transmenu.transparency .navbar-brand {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  color: #fff !important;
  border: none;
}

#transmenu.transparency .nav-link, #transmenu.transparency .nav-link.active, #transmenu.transparency .nav-link:focus {
  color: #fff;
  border: none;
  opacity: 1;
}

#transmenu.transparency .nav-link:hover {
  color: #e3408e;
  opacity: .7;
  background-blend-mode: color-burn;
}

#transmenu .navbar-toggler {
  position: relative;
  height: 35px;
  margin-right: -.75rem;
  border: none;
}

#transmenu .navbar-toggler:focus, #transmenu .navbar-toggler:active {
  outline: 0;
}

#transmenu .navbar-toggler span {
  display: block;
  background-color: #6f6f6e;
  height: 2px;
  width: 25px;
  margin-top: 4px;
  margin-bottom: 4px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  position: relative;
  left: 0;
  opacity: 1;
}

#transmenu.transparency .navbar-toggler span {
  background: #fff;
}

#transmenu .navbar-toggler span:nth-child(1), #transmenu .navbar-toggler span:nth-child(3) {
  -webkit-transition: transform .35s ease-in-out;
  -moz-transition: transform .35s ease-in-out;
  transition: transform .35s ease-in-out;
}

#transmenu .navbar-toggler:not(.collapsed) span:nth-child(1) {
  position: absolute;
  left: 12px;
  top: 10px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  transform: rotate(135deg);
  opacity: 0.9;
}

#transmenu .navbar-toggler:not(.collapsed) span:nth-child(2) {
  height: 12px;
  visibility: hidden;
  background-color: transparent;
}

#transmenu .navbar-toggler:not(.collapsed) span:nth-child(3) {
  position: absolute;
  left: 12px;
  top: 10px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  transform: rotate(-135deg);
  opacity: 0.9;
}

#transmenu.navbar-bg {
  background-color: #2e1428!important;
  border-color: #2e1428!important;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #e3408e;
  opacity: 0.7;
}

.btn.radial-fill {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
  background: #e1e1e1;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  z-index: 100;
}

.btn.radial-fill:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2098D1;
  border-radius: 46px;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.btn.radial-fill:hover:before {
  webkit-transform: scale(2);
  transform: scale(2);
}

