<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-145131136-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-145131136-1');
        </script>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        
        <!-- Facebook Opengraph -->
        <meta property="og:url" content="https://spixi.io" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Spixi - The Private and Secure Chat Messenger" />
        <meta property="og:description" content="The future of private messaging in your hands! Spixi helps you keep your conversations completely private!" />
        <meta property="og:image" content="https://www.spixi.io/assets/img/Spixi_ogFb.jpg" />
        <meta property="og:image:alt" content="Stay private and secure." />
        <meta property="og:image:type" content="image/jpg" />
        <meta property="og:image:width" content="1200" />
        <meta property="og:image:height" content="630" />
        
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
        <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
        <link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,600i,700,800">
        <link rel="stylesheet" href="assets/css/-Fixed-Navbar-start-with-transparency-background-BS4-.css">
        <link rel="stylesheet" href="assets/css/-product-features.css">
        <link rel="stylesheet" href="assets/css/Background-motion.css">
        <link rel="stylesheet" href="assets/css/Footer-Clean.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css">
        <link rel="stylesheet" href="assets/css/Minimal-tabs.css">
        <link rel="stylesheet" href="assets/css/styles.css">

        <meta name="description" content="{{ page.description }}">
        <meta name="keywords" content="{{ page.keywords }}">
    </head>
    <body>
        <div style="background-color: #f9f9f9;">
            {% include navigation.html %}
            {{ content }}
            <div class="footer-clean">
                <footer>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-sm-4 col-md-3 item">
                                <h3>SPIXI</h3>
                                <ul class="nav-links">
                                    <li><a href="index.html#features">Features</a></li>
                                    <li><a href="download.html">Download</a></li>
                                    <li><a href="index.html#roadmap">Roadmap</a></li>
                                    <li><a href="index.html#wallet">Ixi Wallet</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-4 col-md-3 item">
                                <h3>DOWNLOAD</h3>
                                <ul class="nav-links">
                                    <li><a href="https://github.com/ProjectIxian/Spixi/releases/download/v0.2.0/Spixi-v0.2.0-Android.apk">Android</a></li>
                                    <!--<li><a href="#">iOS</a></li>-->
                                    <li><a href="https://github.com/ProjectIxian/Spixi/releases/download/v0.2.0/Spixi-v0.2.0-Win.zip">Windows PC</a></li>
                                    <!--<li><a href="#">Linux</a></li>-->
                                </ul>
                            </div>
                            <div class="col-sm-4 col-md-3 item">
                                <h3>DOCUMENTATION</h3>
                                <ul class="nav-links">
                                    <!--<li><a href="brand.html">Brand Guidelines</a></li>-->
                                    <li><a href="cookies.html">Cookies Policy</a></li>
                                    <li><a href="privacy-policy.html">Privacy Policy</a></li>
                                    <li><a href="terms.html">Terms of use</a></li>
                                    <li></li>
                                </ul>
                            </div>
                            <div class="col-md-3 item social">
                                <div>
                                    <a href="https://www.ixian.io"><img class="" src="assets/img/PoweredByIxian.png" alt="Powered by Ixian"/></a>
                                </div>
                                <p class="copyright">Ixian Technologies © 2019</p>
                                <a href="https://twitter.com/SpixiIm"><i class="fa fa-twitter-square fa-twitter"></i></a>
                                <a href="https://www.instagram.com/spixiim"><i class="fa fa-star fa-instagram"></i></a>
                                <a href="https://www.facebook.com/SpixiIM"><i class="fa fa-facebook"></i></a>
                                <a href="https://github.com/ProjectIxian/Spixi"><i class="fa fa-github"></i></a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <div id="cookiePolicyBar" class="cookiesPolicy">
            <div class="container row">
                <div class="col-xl-6">
                    <p class="title">Cookies Policy</p>
                    <p class="subTitle">To make this site work properly, we sometimes place small data files called cookies on your device. Most big websites do this too.</p>
                </div>
                <div class="col-xl-6 buttons">
                    <a class="btn btn-primary text-left radial-fill" onclick="javascript: closeCookiePolicyBar();">I ACCEPT</a>
                    <a class="btn btn-primary text-left radial-fill" href="cookies.html">READ MORE</a>
                </div>
            </div>
        </div>
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
        <script src="assets/js/main.js"></script>
    </body>
</html>
