<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
        <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
        <link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,600i,700,800">
        <link rel="stylesheet" href="assets/css/-Fixed-Navbar-start-with-transparency-background-BS4-.css">
        <link rel="stylesheet" href="assets/css/-product-features.css">
        <link rel="stylesheet" href="assets/css/Background-motion.css">
        <link rel="stylesheet" href="assets/css/Footer-Clean.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css">
        <link rel="stylesheet" href="assets/css/Minimal-tabs.css">
        <link rel="stylesheet" href="assets/css/styles.css">

        <meta name="description" content="{{ page.description }}">
        <meta name="keywords" content="{{ page.keywords }}">
    </head>
    <body>
        <div style="background-color: #f9f9f9;">
            <header>
                {% include navigation.html %}
                <div class="bg-success d-flex align-items-center" style="padding-bottom: 60px;background-image: url('assets/img/Spixi_Hero.jpg');background-size: cover;background-position: center;height: 100vh;">
                    <div class="container">
                        <div class="row" style="padding-top: 120px;">
                            <div class="col-md-6 col-xl-7 text-left">
                                <h1 class="text-left heroHeading" style="font-family: Roboto, sans-serif;font-weight: bold;font-style: normal;font-size: 36px;line-height: 54px;letter-spacing: 0px;padding-top: 180px;color: rgb(255,255,255);">Send messages, data and payments.<br>Private and secure.</h1>
                                <h3 class="text-left" style="font-size: 18px;line-height: 36px;padding-top: 17px;font-family: Roboto, sans-serif;font-weight: normal;color: rgb(255,255,255);">Meet Spixi, the blockchain based instant messenger and IxiCash wallet.</h3><a href="download.html"><button class="btn btn-primary text-left radial-fill" type="button" style="padding-top: 10px;margin-top: 32px;font-family: Roboto, sans-serif;box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.2), 0 12px 20px 0 rgba(0, 0, 0, 0.19);opacity: 1;background-color: rgba(255,255,255,0.03);padding-left: 30px;padding-right: 30px;font-size: 17px;padding-bottom: 10px;font-weight: bold;border-color: white;border-radius: 40px;border: 2px solid white;">Download SPIXI now</button></a></div>
                            <div class="col-md-6 col-xl-5 text-center"><img class="img-fluid text-center" src="assets/img/SpixiH.png" style="max-height: 660px;padding-bottom: 60px;padding-top:60px;" alt="Spixi Hero Image"></div>
                        </div>
                    </div>
                </div>
            </header>
            {{ content }}
            <div class="footer-clean">
                <footer>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-sm-4 col-md-3 item">
                                <h3>SPIXI</h3>
                                <ul class="nav-links">
                                    <li><a href="index.html#features">Features</a></li>
                                    <li><a href="download.html">Download</a></li>
                                    <li><a href="index.html#roadmap">Roadmap</a></li>
                                    <li><a href="index.html#wallet">Ixi Wallet</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-4 col-md-3 item">
                                <h3>DOWNLOAD</h3>
                                <ul class="nav-links">
                                    <li><a href="https://github.com/ProjectIxian/Spixi/releases/download/v0.1.1/Spixi-v0.1.1-Android.apk">Android</a></li>
                                    <!--<li><a href="#">iOS</a></li>-->
                                    <li><a href="https://github.com/ProjectIxian/Spixi/releases/download/v0.1.1/Spixi-v0.1.1-Win.zip">Windows PC</a></li>
                                    <!--<li><a href="#">Linux</a></li>-->
                                </ul>
                            </div>
                            <div class="col-sm-4 col-md-3 item">
                                <h3>DOCUMENTATION</h3>
                                <ul class="nav-links">
                                    <!--<li><a href="brand.html">Brand Guidelines</a></li>-->
                                    <li><a href="cookies.html">Cookies Policy</a></li>
                                    <li><a href="privacy-policy.html">Privacy Policy</a></li>
                                    <li><a href="terms.html">Terms of use</a></li>
                                    <li></li>
                                </ul>
                            </div>
                            <div class="col-md-3 item social">
                                <div>
                                    <a href="https://www.ixian.io"><img class="" src="assets/img/PoweredByIxian.png" alt="Powered by Ixian"/></a>
                                </div>
                                <p class="copyright">Ixian Technologies © 2019</p>
                                <a href="https://twitter.com/SpixiIm"><i class="fa fa-twitter-square fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-star fa-instagram"></i></a>
                                <a href="https://www.facebook.com/SpixiIM/"><i class="fa fa-facebook"></i></a>
                                <a href="https://github.com/ProjectIxian/Spixi"><i class="fa fa-github"></i></a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="assets/js/-Fixed-Navbar-start-with-transparency-background-BS4-.js"></script>
        <script src="assets/js/bs-animation.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
    </body>
</html>